# 데이터 전처리

<br>

## 파일 업로드

In [1]:
import pandas as pd

master = pd.read_csv('./csv/Master.csv')
product = pd.read_csv('./csv/Pruduct.csv')
session = pd.read_csv('./csv/Session.csv')
search1 = pd.read_csv('./csv/Search1.csv')
search2 = pd.read_csv('./csv/Search2.csv')
custom = pd.read_csv('./csv/Custom.csv')

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<br>

## Product 테이블의 '상품브랜드(PD_BRA_NM)'명 전처리 [] 키워드 제거

In [2]:
new = []
for x in product.PD_BRA_NM:
    new.append(x.strip('[]'))

product['PD_BRA_NM'] = new
product.head()

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT
0,4139680,7605037,12,642112,색상:워터멜론,바비브라운,"39,000",1
1,4140076,10189797,13,570603,색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개,데상트,"39,000",2
2,4142395,6158159,85,179538,(not set),아베다,"39,000",1
3,4144914,7935714,12,554336,색상:블랙|사이즈:160cm(12~13세) / 1개,아디다스 키즈,"39,000",1
4,4144917,6406509,78,190306,5개,데코르테,"39,000",5

<br>

## Product(상품구매)와 Master(상품분류) 테이블 조인 (기준 : PD_C)¶

In [3]:
print(len(product.PD_C), len(master.PD_C))

5024906 847652

In [5]:
# PD_C를 기준으로 테이블 Join
product_master = pd.merge(product, master, how='outer', on=['PD_C'])
product_master.head()

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM
0,4139680,7605037,12,642112,색상:워터멜론,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터
1,4350334,2023661,77,642112,색상:엔젤 / 1개,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터
2,5172356,4714565,47,642112,색상:카바나,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터
3,5444959,6843465,24,642112,색상:워터멜론 / 1개,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터
4,5461276,7896792,53,642112,색상:워터멜론 / 1개,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터

<br>

## Session(세션)과 Search1(검색어1) 테이블 조인 (기준 : CLINT_ID , SESS_ID)

In [6]:
search1.head()

   CLNT_ID  SESS_ID     KWD_NM  SEARCH_CNT
0  5607714  7112876   빌리프 아이크림           6
1  5607714  4090791  프리메라 마스크팩           3
2  5607714  4090791      여성청결제           1
3  5612428  1876482       명품가방           1
4  5612428   658123  콩순이 아이스크림           1

In [7]:
# CLINT_ID와 SESS_ID을 기준으로 Join
session_search = pd.merge(session, search1, how='outer', on=['CLNT_ID', 'SESS_ID'])
session_search.head()

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,KWD_NM,SEARCH_CNT
0,5873599,8641867,9,20180509,82.0,"1,890",mobile,Daejeon,Daejeon,닥스손수건세트,1.0
1,5873599,6616320,21,20180611,105.0,"1,604",mobile,Busan,Busan,조르지오아르마니 쿠션,3.0
2,5873599,5886172,40,20180624,41.0,632,mobile,Daejeon,Daejeon,맥 틴트,2.0
3,5873884,1050889,15,20180913,160.0,"1,035",mobile,Gyeonggi-do,Anyang,칠부내의,1.0
4,5873884,1050889,15,20180913,160.0,"1,035",mobile,Gyeonggi-do,Anyang,아동팬티,1.0

<br>

## [상품구매 + 상품분류] + [세션 + 검색어1] 테이블 조인 (기준 : CLINT_ID , SESS_ID)

In [8]:
# CLINT_ID와 SESS_ID로 조인
pm_ss = pd.merge(product_master, session_search, how='outer', on=['CLNT_ID', 'SESS_ID'])
pm_ss.head()

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT,PD_NM,CLAC1_NM,...,CLAC3_NM,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,KWD_NM,SEARCH_CNT
0,4139680,7605037,12,642112,색상:워터멜론,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,...,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN
1,4139680,7605037,28,642112,색상:카바나,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,...,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN
2,4139680,7605037,12,642112,색상:카바나,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,...,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN
3,4139680,7605037,28,642112,색상:워터멜론,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,...,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN
4,4139680,7605037,12,401577,색상:몰리 와우,바비브라운,"39,000",1,[한정판] 크러쉬드 립칼라 2.0 - 몰리 와우,화장품/뷰티케어,...,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN

In [9]:
len(pm_ss)

9024791

<br>

## Custom(회원) + [상품구매 + 상품분류 + 세션 + 검색어1] 테이블 조인 (기준 : CLINT_ID)

In [10]:
# CLINT_ID를 기준으로 조인

total = pd.merge(pm_ss, custom, how='outer', on=['CLNT_ID'])
total.head()

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT,PD_NM,CLAC1_NM,...,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,KWD_NM,SEARCH_CNT,CLNT_GENDER,CLNT_AGE
0,4139680,7605037,12,642112,색상:워터멜론,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,...,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN,NaN,NaN
1,4139680,7605037,28,642112,색상:카바나,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,...,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN,NaN,NaN
2,4139680,7605037,12,642112,색상:카바나,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,...,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN,NaN,NaN
3,4139680,7605037,28,642112,색상:워터멜론,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,...,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN,NaN,NaN
4,4139680,7605037,12,401577,색상:몰리 와우,바비브라운,"39,000",1,[한정판] 크러쉬드 립칼라 2.0 - 몰리 와우,화장품/뷰티케어,...,20180526,21.0,902,desktop,Seoul,Seoul,NaN,NaN,NaN,NaN

## total의 형태 파악

In [15]:
len(total)

9024791

In [17]:
total.shape

(9024791, 23)

## 병합한 5개의 테이블 'total.csv'로 저장

In [16]:
total.to_csv('./csv/total.csv', index=False)